/* Section03.module.css */

/* Section */
.section {
  background-color: var(--color-primary);

  /* text */
  --_text-grid-template-rows: 3fr 3fr 1fr;
  --_text-grid-template-columns: 1fr;
  --_text-row-gap: 10px;
  --_text-text-align: left;
}

/* Grid Layout */
.container {
  display: grid;
  width: 100vw;
  grid-template-columns: var(--grid-columns);
  grid-auto-rows: 100px;
}

.title {
  grid-column: 3 / 10;
  grid-row: 2 / 5;
  display: grid;
  place-items: center;
  text-align: center;
}



@media screen and (min-width: 481px) and (max-width: 1080px) {
  .title {
    grid-column: 3 / 10;
    grid-row: 2 / 5;
  }

  .titleBottom {
    font-size: 5vw;
  }

  .textRow {
    font-size: var(--text-font-size-tablet);
  } 

}

@media screen and (max-width: 480px) {
  .section {
    padding: 10vw 0;
  }

  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 10vw;
  }

  .title {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
    grid-template-rows:3fr 1fr;
  }

  .title h2 {
    font-size: 10vw;
    line-height: 1.2;
    font-weight: 500;
  }

  .title p {
    font-size: 4vw;
  }

  .text {
    grid-column: 1 / 7;
    grid-row: 6 / 13;
    padding: 0 5vw;
    font-size: var(--text-font-size-mobile);
    line-height: 2;
  }

  .box {
    grid-column: 1 / 7;
    grid-row: 13 / 40;
    display: grid;
    place-items: center;
    grid-auto-rows: 55svh;
  }

  .card {
    width: 90vw;
    height: 50svh;
    border-radius: 24px;
    background-color: #06a4d9;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25svh 25svh;
  }
  
  .cardImage {
    background-color: #777;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .cardText {
    padding: 0 5vw;
    color: var(--color-text-sub);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .cardTitle {
    display: grid;
    align-items: center;
    
  }

  .cardTitle h3 {
    font-size: 7vw;
    font-family: 600;
  }

  .cardDescription {
    font-size: 4vw;
    line-height: 2;
  }
}
