/* Section05.module.css */

/* Section */
.section {
  background-color: var(--color-secondary);
  padding: 0 0 150px 0;

  /* Title */
  --_title-height: 100%;
  --_title-font-size: 60px;
  --_title-font-weight: 400;
  --_title-row-bottom-mobile-line-height: 1.8;
  --_title-row-top-mobile-font-size: 16px;
  --_title-row-bottom-mobile-font-size: 26px;
  --_title-text-align: center;

  /* text */
  --_text-grid-template-rows: 1fr 3fr 3fr 1fr;
  --_text-grid-template-columns: 1fr;
  --_text-sub-title-font-size: 24px;
  --_text-title-font-size: 44px;
  --_text-text-align: left;
}

/* Grid Layout */
.container {
  display: grid;
  width: 100%;
  grid-template-columns: var(--grid-columns);
  grid-auto-rows: 100px;
}

.text {
  grid-column: 2 / 7;
  grid-row: 2 / 7;
  display: grid;
  grid-template-columns: var(--_text-grid-template-columns);
  grid-template-rows: var(--_text-grid-template-rows);
  color: var(--color-text);
}

.textSubTitle {
  font-size: var(--_text-sub-title-font-size);
}

.textTitle {
  font-size: var(--_text-title-font-size);
}

.textRow {
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  text-align: var(--_text-text-align);
  grid-row: auto;
}

.textRow a {
  text-decoration: var(--link-text-decoration);
  text-underline-offset: var(--link-text-underline-offset);
  cursor: var(--link-cursor);
}

.textRow a:hover {
  color: var(--color-hover-text);
}

.pictureRight {
  grid-column: 8 / 13;
  grid-row: 1 / 9;
}
.pictureRight > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
  .textTitle {
    font-size: 4vw;
  }

  .textRow {
    font-size: var(--text-font-size-tablet);
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 0;
  }

  .text {
    grid-column: 2 / 12;
    grid-row: 1 / 5;
    grid-template-rows: 8vh 3fr 4fr 1fr;
  }

  .textSubTitle {
    font-size: 4vw;
  }

  .textTitle {
    font-size: 8vw;
  }

  .textRow {
    font-size: var(--text-font-size-mobile);
  }

  .pictureRight {
    grid-column: 4 / 13;
    grid-row: 5 / 10;
  }
  
}

